<%= cache message do %>

  <div class="message <%= message.sender %>">

    <% if message.sender == 'Jacob Gillespie' %>
    <img src="<%= asset_path('jacob.jpg') %>" alt="Jacob Gillespie" class="pull-right">
    <% else %>
    <img src="<%= asset_path('kathryn.jpg') %>" alt="Kathryn Elizabeth" class="pull-right">
    <% end %>

    <dl class="clearfix">
      <dt>Sender</dt>
      <dd><%= message.sender %></dd>
      <dt>Recipient</dt>
      <dd><%= message.recipient %></dd>
      <dt>Date</dt>
      <dd><%= message.time_cst.strftime('%B %e, %Y') %></dd>
      <dt>Time</dt>
      <dd><%= message.time_cst.strftime('%l:%M %P') %></dd>
    </dl>



    <%= auto_link(simple_format(h(message.body)), :sanitize => false) %>
    <%= link_to("See more from #{message.time_cst.strftime('%B %e, %Y')}", date_path([message.time_cst.year, message.time_cst.month, message.time_cst.day].join('-')), class: 'seeMore') %>
  </div>

<% end %>