<%= cache message do %>

<div class="row message <%= message.sender %>">
  <div class="span2">

    <ul class="thumbnails">
      <li class="span2">
        <% if message.sender == 'Jacob Gillespie' %>
        <%= image_tag('jacob.jpg', :alt => 'Jacob Gillespie', :class => 'thumbnail' )%>
        <% else %>
        <%= image_tag('kathryn.jpg', :alt => 'Kathryn Elizabeth', :class => 'thumbnail' )%>
        <% end %>
      </li>
    </ul>

    <dl class="clearfix">
      <dt>Sender</dt>
      <dd><%= message.sender %></dd>
      <dt>Recipient</dt>
      <dd><%= message.recipient %></dd>
      <dt>Date</dt>
      <dd><%= message.time_cst.strftime('%A,<br />%B %e, %Y').html_safe %></dd>
      <dt>Time</dt>
      <dd><%= message.time_cst.strftime('%l:%M %P') %></dd>
    </dl>
  </div>

  <div class="span10">
    <div>
      <%= auto_link(simple_format(h(message.body)), :sanitize => false) %>
      <%= link_to("See more from #{message.time_cst.strftime('%B %e, %Y')}", date_path([message.time_cst.year, message.time_cst.month, message.time_cst.day].join('-')), class: 'seeMore') %>
    </div>
  </div>
</div>

<% end %>