= cache message do
  .row.message{class: message.sender }
    .span2
      %ul.thumbnails.hidden-phone
        %li.span2
        - if message.sender == 'Jacob Gillespie'
          = image_tag('jacob.jpg', :alt => 'Jacob Gillespie', :class => 'thumbnail' )
        - else
          = image_tag('kathryn.jpg', :alt => 'Kathryn Elizabeth', :class => 'thumbnail' )
      .well
        %dl.clearfix
          %dt Sender
          %dd= message.sender
          %dt Recipient
          %dd= message.recipient
          %dt Date
          %dd= message.time_cst.strftime('%A,<br />%B %e, %Y').html_safe
          %dt Time
          %dd= message.time_cst.strftime('%l:%M %P')
    .span10
      %div
        = auto_link(simple_format(h(message.body)), :sanitize => false)
        = link_to("See more from #{message.time_cst.strftime('%B %e, %Y')}", date_path([message.time_cst.year, message.time_cst.month, message.time_cst.day].join('-')), class: 'seeMore')
  :javascript
    mixpanel.track("Viewed Messages", {"time": "#{message.time_cst}", "sender": "#{message.sender}", "id": "#{message.id}"});