<div class="row">
  <div class="span12">
    <div class="page-header">
      <h1>Messages Sent <small><%= @day.strftime('%A, %B %e, %Y') %></small></h1>
    </div>
  </div>
</div>

<% if @messages.size == 0 %>
  <p>There were no messages sent on <%= @day.strftime('%A, %B %e, %Y') %></p>
<% else %>
  <div><%= render(@messages) %></div>
  <%= render 'pagination' %>
<% end %>



<script type="text/javascript">
  window.defaultDate = new Date(<%= @day.year %>, <%= @day.month %> - 1, <%= @day.day %>);
  window.maxDate = new Date(<%= @last_day.year %>, <%= @last_day.month %> - 1, <%= @last_day.day %>);
  window.unsentDays = <%= @unsent_days.to_json.html_safe %>;
</script>