<div class="row center">
  <div class="span12">
    <%= paginate @messages %>
    <%= page_entries_info(@messages) %>
  </div>
</div>

<div id="content">
  <%= render(@messages) %>
</div>

<div class="row center">
  <div class="span12">
    <%= paginate @messages %>
    <%= page_entries_info(@messages) %>
  </div>
</div>

<% if @messages.size > 0 %>
<script type="text/javascript">
  window.since = '<%= @latest.time_cst.iso8601 %>';
</script>
<% end %>
