<% if @messages.size == 0 %>
  <h2>There were no messages sent on <%= @day.strftime('%B %e, %Y') %></h2>
  <%= render 'pagination' %>
<% else %>
  <%= render 'pagination' %>
  <div><%= render(@messages) %></div>
  <%= render 'pagination' %>
<% end %>

<script type="text/javascript">
  window.defaultDate = new Date(<%= @day.year %>, <%= @day.month %> - 1, <%= @day.day %>);
  window.maxDate = new Date(<%= @last_day.year %>, <%= @last_day.month %> - 1, <%= @last_day.day %>);
  window.unsentDays = <%= @unsent_days.to_json.html_safe %>;
</script>