<p id="notice"><%= notice %></p>

<p>
  <b>Sender:</b>
  <%= @message.sender %>
</p>

<p>
  <b>Time:</b>
  <%= @message.time %>
</p>

<p>
  <b>Body:</b>
  <%= @message.body %>
</p>

<p>
  <b>Local:</b>
  <%= @message.local_id %>
</p>

<p>
  <b>Facebook:</b>
  <%= @message.facebook_id %>
</p>


<%= link_to 'Edit', edit_message_path(@message) %> |
<%= link_to 'Back', messages_path %>
