<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />

  <title>J&amp;K Messages</title>

  <meta name="HandheldFriendly" content="True">
  <meta name="MobileOptimized" content="320">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />
  <meta http-equiv="cleartype" content="on">

  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <meta name="apple-mobile-web-app-title" content="J&amp;K Messages">

  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/assets/touch/apple-touch-icon-144x144-precomposed.png">
  <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/assets/touch/apple-touch-icon-114x114-precomposed.png">
  <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/assets/touch/apple-touch-icon-72x72-precomposed.png">
  <link rel="apple-touch-icon-precomposed" href="/assets/touch/apple-touch-icon-57x57-precomposed.png">
  <link rel="shortcut icon" href="/assets/touch/apple-touch-icon.png">

  <meta name="msapplication-TileImage" content="/assets/touch/apple-touch-icon-144x144-precomposed.png">
  <meta name="msapplication-TileColor" content="#222222">

  <link href='http://fonts.googleapis.com/css?family=Tangerine' rel='stylesheet' type='text/css'>
	<%= stylesheet_link_tag    "application" %>

  <%= javascript_include_tag "application" %>

  <%= csrf_meta_tags %>

  <!-- IE Fix for HTML5 Tags -->
  <!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->

  <script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-35810340-1']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
  </script>
</head>
<body>

  <div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container">
        <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>

        <a class="brand hidden-phone" href="/">The J&amp;K&nbsp;Messages</a>

        <form class="navbar-search pull-left" action="/search" method="get">
          <input type="text" class="search-query" placeholder="Search" name="q"<% if @query %>value="<%= @query %>"<% end %>>
        </form>

        <ul class="nav pull-left chat-status">
          <li class="divider-vertical hidden-phone"></li>
          <li><a rel="tooltip">J<span class="hidden-phone">acob</span> <i class="icon-ok" data-name="Jacob" id="status-<%= Settings.jacob_id %>"></i></a></li>
          <li><a rel="tooltip">K<span class="hidden-phone">athryn</span> <i class="icon-circle" data-name="Kathryn" id="status-<%= Settings.kathryn_id %>"></i></a></li>
          <li class="divider-vertical hidden-phone"></li>
        </ul>

        <div class="nav-collapse collapse">
          <ul class="nav pull-right">
            <li class="visible-phone"><a href="/">Home</a></li>
            <% if user_signed_in? %>
            <li><a>Hello, <%= current_user.name %></a></li>
            <li><%= link_to('Logout', destroy_user_session_path, :method => :delete) %></li>
            <% else %>
            <li><%= link_to "Sign in with Facebook", user_omniauth_authorize_path(:facebook) %></li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <%= yield %>

  <div pub-key="" sub-key="<%= Settings.pubnub.subscribe %>" ssl="off" origin="pubsub.pubnub.com" id="pubnub"></div>
  <script src="http://cdn.pubnub.com/pubnub-3.3.1.min.js"></script>

</body>
</html>